<h1>Listing speed_records</h1>

<table>
  <thead>
    <tr>
      <th>Ip address</th>
      <th>Download speed</th>
      <th>Upload speed</th>
      <th>Latency</th>
      <th>Jitter</th>
      <th>Hostname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speed_records.each do |speed_record| %>
      <tr>
        <td><%= speed_record.ip_address %></td>
        <td><%= speed_record.download_speed %></td>
        <td><%= speed_record.upload_speed %></td>
        <td><%= speed_record.latency %></td>
        <td><%= speed_record.jitter %></td>
        <td><%= speed_record.hostname %></td>
        <td><%= link_to 'Show', speed_record %></td>
        <td><%= link_to 'Edit', edit_speed_record_path(speed_record) %></td>
        <td><%= link_to 'Destroy', speed_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speed record', new_speed_record_path %>
